/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Inconsolata', courier;
font-family: 'Vollkorn', serif;
*/
body {
  background-color: #F7C400;
  color: #2C211B;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin-left: 30%;
  margin-right: 30%;
}
@media (max-width: 600px) {
  body {
    font-size: 24px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 50px;
  margin-top: 20px;
}

a {
  color: #2C211B;
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

.latestTweet {
  background: none repeat scroll 0 0 #F7C400;
	border: 5px solid #4A3A00;
	border-radius: 10px 10px 10px 10px;
	color: #4A3A00;
	display: block;
  font-family: 'Source Sans Pro', sans-serif;
	margin: 1rem 0em 1rem;
  min-width: 360px;
	padding: 10px 20px;
  position: relative;
	text-decoration: none;
}
@media (max-width: 400px) {
  .latestTweet {
    min-width: auto;
  }
}
.latestTweet:before {
	border-color: #4A3A00 transparent;
	border-style: solid;
	border-width: 20px 20px 0;
	bottom: -20px;
	content: "";
	display: block;
	left: 40px;
	position: absolute;
	width: 0;
}

.latestTweet:after {
	border-color: #F7C400 transparent;
	border-style: solid;
	border-width: 13px 13px 0;
	bottom: -13px;
	content: "";
	display: block;
	left: 47px;
	position: absolute;
	width: 0;
}

.latestTweet:before {
	border-width: 0 20px 20px;
	bottom: auto;
	left: auto;
	left: 40px;
	top: -20px;
}

.latestTweet:after {
	border-width: 0 13px 14px;
	bottom: auto;
	left: auto;
	left: 47px;
	top: -13px;
}

.timePosted{
  color: #2C211B;
  text-align: right;
  margin-bottom: 5px;
}

.media img{
  border: 5px solid #4A3A00;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  max-width: 98%;
  margin-top: 10px;
}

i{
  padding-right: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

li {
  display: inline-block;
}

li a {
  font-size: 24px;
  opacity: 0.9;
}

li a:hover {
	opacity: 0.5;
}

.fa-hidden {
  display: none; 
}
